<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/browserfs@1.4.3/dist/browserfs.min.js"
    integrity="sha256-oqKzjNVn3CDNAk5oHfVfNPQhdMaS9VP4NQ2uFxwrh1s=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/_bin/runtime.js"></script>
  {{{body}}}

</body>

</html>